*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Nunito";
  font-size: 16px;
  margin: 0;
  color: #71768e;
  overflow-x: hidden;
  background-color: #171C32 !important ;
}